.cartWrapper {
  display: flex;
  flex-direction: column;
  max-height: 120px;
  padding: 16px;

  background-color: #616161;
  color: #f5f5f5;
}

.cartSum {
  margin-bottom: 16px;
}

.cartItems {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 8px 4px;
  flex: 1;
  overflow-y: auto;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.dots {
  flex: 1;
  margin-left: 8px;
  margin-right: 8px;

  border-bottom: 1px dotted #f5f5f5;
}
