.form {
  padding: 16px;
  background-color: #00000009;
  border-radius: 16px 16px 16px 0;
}

.formGroup {
  display: flex;
  margin-bottom: 8px;
}

.formGroup label {
  width: 100px;
  margin-right: 8px;
}

.formGroup input,
.formGroup textarea {
  flex: 1;
}

.reviewText {
  resize: vertical;
}

.buttonToolbar {
  margin-top: 16px;
}

.buttonToolbar button {
  margin-right: 16px;
}
