.tabs {
  margin-bottom: 16px;
  height: 100%;
}

.tabDefault {
  display: inline-block;
  padding: 8px 16px;

  border: 0;
  border-radius: 4px;

  color: #f5f5f5;
  text-decoration: none;
}

.tabJuicy {
  background-color: #ff9800;
}

.tabJuicy.isActive {
  background-color: #ffccbc;
  pointer-events: none;
}

.tabBarbie {
  background-color: #ff4081;
}

.tabBarbie.isActive {
  background-color: #f8bbd0;
  pointer-events: none;
}
